.big {
  display: flex;
}
.big > div {
  width: 40%;
}

.upper-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upper-col button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  color: #000;
  padding: 6px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.problem {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-gap: 2px 10px;
  justify-content: center;
  margin: auto;
}
.question {
  height: 30px;
  width: 30px;
  margin: 3px;
  border: solid white;
 
  border-radius: 10px;
}
.workspace {
  display: none;
  grid-template-columns: 55px 55px 55px 55px 55px;
  grid-gap: 10px 15px;
  justify-content: center;
  width: 400px;
  border-radius: 10px;
  background-color: bisque;
  margin: 10px auto;
  padding: 25px 0;
}
.work {
  height: 60px;
  width: 60px;
  margin: auto;
  border-radius: 1px;
  border-radius: 10px;
}

